<div class="flex rounded-2xl bg-white p-5 w-full h-full flex-col">
    @if (card$ | async; as items) { 
        @for (item of items; track $index) {
          <div class="flex items-center gap-3 border-b justify-between">
            <div class="flex flex-row gap-3 justify-between w-full">
              <span>{{ item.product.brand }}</span>
              <span>{{ item.product.model }}</span>
              <span>{{ item.product.price }}</span>
            </div>
            <div class="flex gap-2 p-2">
              <button class="bg-slate-200 rounded-lg py-1 px-2" (click)="updateQuantity('-',item.product.id)">-</button>
              <input 
                [value]="item.cant" 
                type="text" 
                class="w-10 text-center"
                (ngModelChange)="setCant($event,item.product.id)"
                [(ngModel)]="item.cant"
              />
              <button class="bg-slate-200 rounded-lg py-1 px-2" (click)="updateQuantity('+',item.product.id)">+</button>
              <button class="bg-red-300 text-red-500 py-1 px-2 rounded-lg" (click)="onDeleted($index)">x</button>
            </div>
        </div>
        } 
      }
</div>
